* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .mainbody {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mainbody {
    padding: 20px;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 30px;
  }
  
  .mainbody form input {
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: -9px -9px 16px rgba(255, 40, 34, 0.2),
      5px 5px 15px rgba(0, 0, 0, 0.1);
    background: transparent;
    color: black;
    cursor: pointer;
    margin: 10px;
    color: black;
    font-size: 25px;
  }
  
  form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }

    
  form input.equal {
    width: 145px;
  }
  
  form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border: 2px solid black
  }

  form{
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
  }
